{{category-link category}}

<a href={{moreHref}} class="btn btn-more">
  {{theme-i18n "category_topics.view_more"}}
</a>

{{#conditional-loading-spinner condition=isLoading}}

  <div class="category-topics--content">
  {{#each topics as |topic|}}
      <a href={{topic.url}} class="category-topics--topic">
        {{html-safe (replace-emoji topic.fancy_title)}}
        <span class="category-topics--posts-count">
        ({{topic.posts_count}})
      </span>
      </a>
  {{/each}}
  </div>
  {{topic-list topics=topics showPosters=false}}

{{/conditional-loading-spinner}}

